body {
    font-family: 'Roboto', sans-serif;
    background-color: #777;
}

.siemprePresente{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    background-color: #DDD;
    margin: 80px auto;
    padding-top: 0.1px;
}

.primera, .segunda, .tercera, .cuarta, .quinta{
    width: 95%;
    margin: auto;
    background-color: #DDD;
}


img {
    width: 80px;
}

h1 {
    display: inline-block;
    align-items: center;
    margin: 0 50px;
    font-size: 4em;
}

.contiene1, .contiene2, .contenedorBotones, .desplazamiento, .area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acompañaDesplazamiento, .acompañaTextArea{
    display: inline-block;
    margin-right: 4px;
}

.selector{
    height: 26px;
    vertical-align: bottom;
    margin-left: 6px;
}

textarea {
    width: 40%;
    min-height: 50px;
}

.botonCifrarCifrar, .botonDescifrarDescifrar, .alInicio {
    text-decoration: none;
    padding: 5px 15px;
    color: #000;
    background-color: #999;
    border: solid 1px;
    width: 115px;
    text-align: center;
    box-sizing: border-box;
}

.alInicio{
    width: 15%;
}

.botonPresentacion {
    text-decoration: none;
    padding: 5px 15px;
    width: 115px;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    background-color: #999;
    border: 1px solid #000;
}

.area{
    margin-top: 80px;
}

.contenedorBotones {
    margin-top: 80px;
}

.contenedorBotones a{
    margin: 5px;
}


p {
    text-align: center;
    font-size: 1em;
}




