body {
    font-family: 'Roboto', sans-serif;
    background-color: #DDD;
}

.siemprePresente{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: auto;
    /* background-color: #DDD; */
    margin: 80px auto;
    padding-top: 0.1px;
    
}

.primera, .segunda, .tercera, .cuarta, .quinta{
    width: 95%;
    margin: auto;
    /* background-color: #DDD; */
}

.segunda, .tercera, .cuarta, .quinta{
    display: none;
}

img {
    width: 80px;
}

h1 {
    display: inline-block;
    align-items: center;
    margin: 0 50px;
    font-size: 4em;
}

.contiene1, .contiene2, .contenedorBotones, .desplazamiento, .area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.acompañaDesplazamiento, .acompañaTextArea{
    display: inline-block;
    margin-right: 4px;
}

.selector{
    height: 26px;
    vertical-align: bottom;
    margin-left: 6px;
}

textarea {
    width: 40%;
    min-height: 90px;
}

.botonCifrarCifrar, .botonDescifrarDescifrar, .alInicio {
    text-decoration: none;
    padding: 5px 15px;
    color: #000;
    background-color: #999;
    border: solid 1px;
    width: 115px;
    text-align: center;
    box-sizing: border-box;
}

.alInicio {
    width: 150px;
}

.botonPresentacion {
    text-decoration: none;
    padding: 5px 15px;
    width: 115px;
    text-align: center;
    box-sizing: border-box;
    color: #000;
    background-color: #999;
    border: 1px solid #000;
}

.area{
    margin-top: 80px;
}

.contenedorBotones {
    margin-top: 80px;
}

.contenedorBotones a{
    margin: 5px;
}

p {
    text-align: center;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {

h1{
    margin: 0 30px;
}


.contenedorBotones a {
    font-size: 14px;
}

.botonPresentacion{
    width: 105px;
}

.botonCifrarCifrar, .botonDescifrarDescifrar{
    width: 105px;
}

textarea {
    width: 90%;
}

.area, .contenedorBotones {
    margin-top: 65px;
}

}

@media only screen and (max-width: 535px) {

h1{
    margin: 0 20px;
    font-size: 3.2rem;
}

img{
    width: 55px;
}

}

@media only screen and (max-width: 426px) {

.siemprePresente {
    margin: 55px auto;
}

h1{
    margin: 0 0 0 10px;
    font-size: 3rem;
}

img{
    width: 60px;
}

p {
    font-size: .9em;
}

.contenedorBotones a {
    font-size: 14px;
}

.botonPresentacion{
    width: 100px;
}

.botonCifrarCifrar, .botonDescifrarDescifrar{
    width: 100px;
}

.alInicio {
    width: 140px;
}

.area, .contenedorBotones {
    margin-top: 45px;
}

}

@media only screen and (max-width: 376px) {

h1{
    margin: 0 15px;
    font-size: 2.5rem;
}

img{
    width: 50px;
}

p {
    font-size: .8em;
}

.contenedorBotones a {
    font-size: 12px;
}

.botonPresentacion{
    width: 82px;
}

.botonCifrarCifrar, .botonDescifrarDescifrar{
    width: 82px;
}

.alInicio {
    width: 120px;
}

}

@media only screen and (max-width: 335px) {

.siemprePresente{
    margin: 60px auto;
}

h1{
    margin: 0 0 0 5px;
    font-size: 2.5rem;
}

img{
    width: 50px;
}

p {
    font-size: .7em;
}

.contenedorBotones a {
    font-size: 11px;
}

.botonPresentacion{
    width: 80px;
}

.area, .contenedorBotones {
    margin-top: 35px;
}

.botonCifrarCifrar, .botonDescifrarDescifrar{
    width: 80px;
}

}


@media only screen and (max-width: 300px) {

.siemprePresente{
    margin: 40px auto;
}

h1{
    margin: 0 0 0 5px;
    font-size: 2.0em;
}

img{
    width: 40px;
}

p {
    font-size: .6em;
}

.contenedorBotones a {
    font-size: 9px;
}

.botonPresentacion{
    width: 70px;
}

.area, .contenedorBotones {
    margin-top: 25px;
}

.botonCifrarCifrar, .botonDescifrarDescifrar{
    width: 70px;
}

.alInicio {
    width: 90px;
}

}